<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/10405520.mp3</string>
		<key>name</key>
		<string>传奇</string>
		<key>lrcurl</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/10405520.lrc</string>
		<key>singer</key>
		<string>王菲</string>
		<key>icon</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/wf@2x.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/120125029.mp3</string>
		<key>name</key>
		<string>小苹果</string>
		<key>lrcurl</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/120125029.lrc</string>
		<key>singer</key>
		<string>筷子兄弟</string>
		<key>icon</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/%E7%AD%B7%E5%AD%90%E5%85%84%E5%BC%9F@2x.jpg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/%E9%BD%90%E7%A7%A6%20-%20%E7%81%AB%E6%9F%B4%E5%A4%A9%E5%A0%82.mp3</string>
		<key>name</key>
		<string>火柴天堂</string>
		<key>lrcurl</key>
		<string></string>
		<key>singer</key>
		<string>齐秦</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/%E9%BD%90%E7%A7%A6%20-%20%E4%BD%A0%E7%9A%84%E6%A0%B7%E5%AD%90.mp3</string>
		<key>name</key>
		<string>你的样子</string>
		<key>lrcurl</key>
		<string></string>
		<key>singer</key>
		<string>齐秦</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/%E9%83%9D%E4%BA%91%20-%20%E6%B4%BB%E7%9D%80.mp3</string>
		<key>name</key>
		<string>活着</string>
		<key>lrcurl</key>
		<string></string>
		<key>singer</key>
		<string>郝云</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/%E8%AE%B8%E5%B7%8D%20-%20%E8%93%9D%E8%8E%B2%E8%8A%B1.mp3</string>
		<key>name</key>
		<string>蓝莲花</string>
		<key>lrcurl</key>
		<string></string>
		<key>singer</key>
		<string>许巍</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/%E8%AE%B8%E5%B7%8D%20-%20%E6%95%85%E4%B9%A1.mp3</string>
		<key>name</key>
		<string>故乡</string>
		<key>lrcurl</key>
		<string></string>
		<key>singer</key>
		<string>许巍</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/%E5%AE%8B%E5%86%AC%E9%87%8E%20-%20%E5%AE%89%E5%92%8C%E6%A1%A5.mp3</string>
		<key>name</key>
		<string>安河桥</string>
		<key>lrcurl</key>
		<string></string>
		<key>singer</key>
		<string>宋冬野</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/%E5%AE%81%E5%A4%8F%20-%20%E5%8D%88%E9%A4%90.mp3</string>
		<key>name</key>
		<string>午餐</string>
		<key>lrcurl</key>
		<string></string>
		<key>singer</key>
		<string>宁夏</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/%E4%BE%AF%E7%A3%8A%20-%20%E5%B1%B1%E4%B8%98.mp3</string>
		<key>name</key>
		<string>山丘</string>
		<key>lrcurl</key>
		<string></string>
		<key>singer</key>
		<string>侯磊</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://ofzzjqvax.bkt.clouddn.com/%E4%BD%99%E5%AE%B6%E8%BE%89%20-%20%E5%8B%BF%E5%BF%98%E5%BF%83%E5%AE%89.mp3</string>
		<key>name</key>
		<string>勿忘心安</string>
		<key>lrcurl</key>
		<string></string>
		<key>singer</key>
		<string>余家辉</string>
		<key>icon</key>
		<string></string>
	</dict>
</array>
</plist>
